<html>

<head>
    <link rel="stylesheet" href="styles/index.css">
</head>


<body>
    <div class="fullbg" style="background: black;">
        <div class="signup_portal" style="background: black;">
            <div class="form-container">
                <!-- Contact Form -->
                <form method="post" action="/auth/login">
                    <div class="form-group">
                        <label class="form-label" for="username"></label>
                        <input class="form-input3" type="text" id="username" name="username" value=""
                            placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password"></label>
                        <input class="form-input6" type="password" id="password" name="password" value=""
                            placeholder="password:" />
                    </div>
                    <button type="submit" class="form-button">
                        <p>Login</p>
                    </button>
                </form>
            </div>
            <div class="Sign-up">
                <h2>Sign-Up</h2>
            </div>
            <div class="sign-img">
                <img src="images/s1.png" class="s1" alt="" />
            </div>
        </div>
        <div class="imageofsign">
            <!-- <img class="s2" src="s2.png" alt="" /> -->
        </div>
    </div>
</body>

</html>